<!DOCTYPE html>
<html>
  <head>
    <title>WE LEARN TOGETHER</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-50 text-gray-900">
    <%= render "shared/header" %>

    <main class="mx-auto max-w-5xl px-4 py-8">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
